!!!
%html{:lang => "en"}
  = render 'layouts/head'
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => admin_sections_path} Fotofm
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "#"} Logout
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li.active
              %a{:href => admin_sections_path}
                Sections
                %span.sr-only (current)
            %li
              %a{:href => "#"} Static
            %li
              %a{:href => "#"} News              
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          = yield

      = render 'layouts/footer'
